/* src/theme/variables.scss */

/* 1. Definimos un "grupo" de estilos reutilizable (mixin) */
@mixin dark-theme-variables {
  --ion-color-primary: #428cff;
  --ion-color-primary-rgb: 66,140,255;
  --ion-color-primary-contrast: #ffffff;
  
  --ion-background-color: #121212;
  --ion-text-color: #ffffff;
  /* ... resto de variables ... */
}

/* 2. Lo aplicamos para detección automática (Sistema) */
@media (prefers-color-scheme: dark) {
  body {
    @include dark-theme-variables;
  }
}

/* 3. Lo aplicamos para activación manual (Clase .dark) */
body.dark {
  @include dark-theme-variables;
}