<ion-header>
  <ion-toolbar>
    <ion-title>Mis Recetas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Botón para mostrar/ocultar el formulario -->
  <!-- Botón para mostrar/ocultar el formulario -->
<ion-button expand="block" class="boton-receta ion-margin" (click)="toggleFormulario()">
  {{ mostrarFormulario ? 'Cancelar' : 'Añadir Nueva Receta' }}
</ion-button>


  <!-- FORMULARIO -->
  <div *ngIf="mostrarFormulario">
    <ion-list>
      <ion-item>
        <ion-input
          label="Nombre de la receta"
          label-placement="floating"
          placeholder="Ej: Tarta de manzana"
          [(ngModel)]="nuevaReceta.nombre">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          label="URL de imagen"
          label-placement="floating"
          placeholder="assets/mi-imagen.jpg"
          [(ngModel)]="nuevaReceta.imagen">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          type="number"
          label="Tiempo de preparación (min)"
          label-placement="floating"
          [(ngModel)]="nuevaReceta.tiempoPreparacion">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          label="Categoría"
          label-placement="floating"
          placeholder="Ej: Italiana, Postre..."
          [(ngModel)]="nuevaReceta.categoria">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          label="Dificultad"
          label-placement="floating"
          placeholder="Fácil, Media, Difícil"
          [(ngModel)]="nuevaReceta.dificultad">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-textarea
          label="Descripción"
          label-placement="floating"
          placeholder="Describe brevemente la receta"
          [(ngModel)]="nuevaReceta.descripcion">
        </ion-textarea>
      </ion-item>
    </ion-list>

    <ion-button expand="block" class="boton-receta ion-margin" (click)="agregarReceta()">
      Añadir Receta
    </ion-button>

  </div>

  <!-- Grid de recetas -->
  <div class="recetas-grid">
    <app-receta-item *ngFor="let receta of recetas" [receta]="receta"></app-receta-item>
  </div>

</ion-content>
