<app-header></app-header>

<ion-content>
<!-- Nombre de usuario -->
    <div class="ion-padding">
    <h1>Hola, {{ nombreUsuario }} 👋</h1>
  </div>

  <!-- TARJETA DE UBICACIÓN GPS -->
  <ion-card class="ion-margin">
    <ion-card-header>
      <ion-card-title>Mi Ubicación</ion-card-title>
    </ion-card-header>
    
    <ion-card-content>
      <p *ngIf="!locationService.latitud">Sin datos GPS</p>
      
      <div *ngIf="locationService.latitud">
        <p>Lat: {{ locationService.latitud }}</p>
        <p>Long: {{ locationService.longitud }}</p>
        
        <!-- Botón para abrir Google Maps -->
        <ion-button 
          href="https://www.google.com/maps/search/?api=1&query={{locationService.latitud}},{{locationService.longitud}}" 
          target="_blank">
          Ver en Mapa
          <ion-icon name="map" slot="end"></ion-icon>
        </ion-button>
      </div>

      <ion-button expand="block" (click)="obtenerGPS()">
        <ion-icon name="locate" slot="start"></ion-icon>
        Obtener Coordenadas
      </ion-button>
    </ion-card-content>
  </ion-card>

  <!-- BOTÓN FLOTANTE FORMULARIO (+) -->
  <ion-fab vertical="bottom" horizontal="start" slot="fixed" style="z-index: 100;">
    <ion-fab-button class="fab-receta" (click)="toggleFormulario()">
      {{ mostrarFormulario ? 'x' : '+' }}
    </ion-fab-button>
  </ion-fab>

  <!-- FORMULARIO -->
  <div *ngIf="mostrarFormulario" style="z-index: 50; position: relative;">
    <ion-list>

      <ion-item>
        <ion-input
          label="Nombre de la receta"
          label-placement="floating"
          placeholder="Ej: Tarta de manzana"
          [(ngModel)]="nuevaReceta.nombre">
        </ion-input>
      </ion-item>

      <!-- BOTÓN PARA TOMAR FOTO -->
      <ion-item>
        <ion-button expand="block" (click)="addPhoto()">
          <ion-icon name="camera" slot="start"></ion-icon>
          Tomar Foto
        </ion-button>
      </ion-item>

      <!-- MOSTRAR FOTO SI EXISTE -->
      <ion-item *ngIf="nuevaReceta.imagen">
        <ion-img [src]="nuevaReceta.imagen" style="margin-top: 10px; border-radius: 10px;"></ion-img>
      </ion-item>

      <ion-item>
        <ion-input
          type="number"
          label="Tiempo de preparación (min)"
          label-placement="floating"
          [(ngModel)]="nuevaReceta.tiempoPreparacion">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          label="Categoría"
          label-placement="floating"
          placeholder="Ej: Italiana, Postre..."
          [(ngModel)]="nuevaReceta.categoria">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-select
          label="Dificultad"
          label-placement="floating"
          interface="popover"
          [(ngModel)]="nuevaReceta.dificultad">
          <ion-select-option value="Fácil">Fácil</ion-select-option>
          <ion-select-option value="Media">Media</ion-select-option>
          <ion-select-option value="Difícil">Difícil</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-textarea
          label="Descripción"
          label-placement="floating"
          placeholder="Describe brevemente la receta"
          [(ngModel)]="nuevaReceta.descripcion">
        </ion-textarea>
      </ion-item>

    </ion-list>

    <ion-item>
  <ion-button expand="block" (click)="obtenerGPS()">
    <ion-icon name="locate" slot="start"></ion-icon>
    Guardar Coordenadas
  </ion-button>
</ion-item>

<ion-item *ngIf="nuevaReceta.latitud && nuevaReceta.longitud">
  <p>Lat: {{ nuevaReceta.latitud }}, Long: {{ nuevaReceta.longitud }}</p>
</ion-item>

    <ion-button expand="block" class="boton-receta ion-margin" (click)="agregarReceta()">
      Añadir Receta
    </ion-button>
  </div>

  <!-- SKELETONS -->
  <div *ngIf="cargando">
    <div class="recetas-grid">
      <ion-card *ngFor="let s of skeletons" class="receta-skeleton">
        <div class="img-skeleton">
          <ion-skeleton-text animated style="width: 100%; height: 100%;"></ion-skeleton-text>
        </div>

        <ion-card-content>
          <ion-skeleton-text animated style="width: 60%; height: 20px; margin-top: 10px;"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 90%; height: 14px; margin-top: 6px;"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 70%; height: 14px; margin-top: 6px;"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 40%; height: 14px; margin-top: 6px;"></ion-skeleton-text>
        </ion-card-content>
      </ion-card>
    </div>
  </div>

  <!-- MENSAJE SI NO HAY RECETAS -->
  <div *ngIf="!cargando && recetas.length === 0" class="ion-text-center ion-padding">
    <ion-text color="medium">
      <h2>No hay recetas todavía 🍽️</h2>
      <p>Pulsa el botón + para añadir la primera.</p>
    </ion-text>
  </div>

<ion-searchbar 
  placeholder="Buscar receta..." 
  [(ngModel)]="textoBuscar" 
  animated="true">
</ion-searchbar>

<ion-item lines="none">
  <ion-select label="Ordenar por" [(ngModel)]="criterioOrden" interface="popover">
    <ion-select-option value="nombre">Nombre (A-Z)</ion-select-option>
    <ion-select-option value="tiempo">Más rápidas</ion-select-option>
    <ion-select-option value="dificultad">Dificultad</ion-select-option>
  </ion-select>
</ion-item>

<div class="recetas-grid">
  <app-receta-item 
    *ngFor="let receta of recetasVisibles" 
    [receta]="receta"
    (onGuardar)="guardarCambios(receta)"
    (onBorrar)="borrarReceta(receta.id)">
  </app-receta-item>
</div>

  <!-- CONTENIDO REAL -->
  <div *ngIf="!cargando && recetas.length > 0">
    <div class="recetas-grid">
      <app-receta-item 
        *ngFor="let receta of recetas" 
        [receta]="receta"
        (onGuardar)="guardarCambios(receta)"
        (onBorrar)="borrarReceta(receta.id)">
      </app-receta-item>
    </div>
  </div>

</ion-content>