<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="volverHome()">
        <ion-icon slot="icon-only" [icon]="arrowBackOutline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Ajustes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ajustes</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Sección de Usuario -->
  <ion-list>
    <ion-list-header>Usuario</ion-list-header>

    <ion-item>
      <ion-label position="stacked">Nombre</ion-label>
      <ion-input [(ngModel)]="nombreUsuario" placeholder="Introduce tu nombre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-button expand="block" (click)="cambiarNombre()">Guardar nombre</ion-button>
    </ion-item>
  </ion-list>

  <!-- Sección de Apariencia -->
  <ion-list>
    <ion-list-header>Apariencia</ion-list-header>
    <ion-item>
      <ion-label>Modo Oscuro</ion-label>
      <ion-toggle [(ngModel)]="modoOscuro" (ionChange)="cambiarModoOscuro()"></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>
